@import "normalize.css";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
.container {
  max-width: 1920px;
  margin: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: antiquewhite;

  max-width: 60rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 4rem 3rem;
  border-radius: 2rem;

  &__title {
    text-align: center;
  }
}

.btn {
  background-color: #dd7973;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border: none;
  margin: 0 0.3rem 0.3rem 0;
  border-radius: 2rem;
  box-sizing: border-box;
  text-decoration: none;

  font: {
    size: 1.8rem;
    weight: 300;
  }
  cursor: pointer;

  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  &:hover {
    background-color: #e9918c;
    color: #ffffff;
  }

  &-ok {
    max-width: 40rem;
    width: 100%;
  }
}

.btn-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  top: 0.5rem;
  right: 0.5rem;
  position: absolute;
}

.list {
  font-size: 2rem;
  &__item {
    list-style-type: none;
    font-size: 1.8rem;

    &-sign {
      margin-right: 1rem;
      cursor: pointer;
    }
  }
}

.strong-style {
  font-weight: bold;
}
